body {
    background-color: rgb(196, 215, 25);
  }
  img {
    width: 25%;
    height: 30%;
    margin: 20px 20px 20px 0;
    display: block;
  }
  
  p {
    display: inline-block;
  }
  
  .story {
    margin: 0 15% 15% 1%;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    color: rgb(16, 7, 10);
    text-align: center;
  }